# Python
__pycache__

# JetBrain
.idea

# Local
data_preparation
train
weights
dataset/*
!dataset/ctdar_train_dataset.txt
!dataset/ctdar_valid_dataset.txt
!dataset/ctdar_test_dataset.txt
!dataset/glosat_train_list.txt
!dataset/glosat_valid_list.txt
!dataset/glosat_test_list.txt

# Wandb
wandb
artifacts
